*~
*.la
*.lo
.deps
.libs
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
extensions/*/*.ephy-extension
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mkinstalldirs
stamp-h1

config.guess.cdbs-orig
config.sub.cdbs-orig
debian/epiphany-extensions-jonny.debhelper.log
debian/epiphany-extensions-jonny.substvars
debian/epiphany-extensions-jonny/
debian/files
debian/stamp-autotools-files
debian/stamp-makefile-build
extensions/onlyoneclosebutton/egg/eggmarshalers.c
extensions/onlyoneclosebutton/egg/eggmarshalers.h
extensions/onlyoneclosebutton/egg/eggtypebuiltins.c
extensions/onlyoneclosebutton/egg/eggtypebuiltins.h
extensions/onlyoneclosebutton/egg/stamp-eggmarshalers.c
extensions/onlyoneclosebutton/egg/stamp-eggmarshalers.h
extensions/onlyoneclosebutton/egg/stamp-eggtypebuiltins.c
extensions/onlyoneclosebutton/egg/stamp-eggtypebuiltins.h
